{% extends 'paste/main.html' %}

{% block content %}
<h2>Viewing {{ id }}</h2>
<div id="dates">
	<span><u>Creation date</u>:</span> <span>{{ cdate }}</span>
	<span><u>Last modification</u>:</span> <span>{{ mdate }}</span>
</div>
<pre>
{{ content }}
</pre>
<form action="{% url 'paste:do' %}" method="POST">
	{% csrf_token %}
	<label for="token">Ownership token: </label>
	<input type="hidden" name="id" value="{{ id }}"></input>
	<input name="token" type="text" value="{{ token }}"></input>
	<button name="action" value="delete">Delete</button>
	<button name="action" value="edit">Edit</button>
	<br />
	<textarea id="content" name="content">{{ content }}</textarea>
</form>
{% endblock %}
